.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);

  .content {
    text-align: center;
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    color: #000;

    h2 {
      margin: 0.5rem 0;
      font-weight: 300;
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
    }

    .buttons {
      display: flex;
      justify-content: center;
      margin: 0.5rem 0;
    }
    button {
      margin: 0 0.3rem;
      width: 120px;
    }
  }
}
